In [3]:
import numpy as np
import pandas as pd

In [5]:
np.random.seed(101)

In [10]:
df = pd.DataFrame(np.random.randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [11]:
df

          W         X         Y         Z
A -0.116773  1.901755  0.238127  1.996652
B -0.993263  0.196800 -1.136645  0.000366
C  1.025984 -0.156598 -0.031579  0.649826
D  2.154846 -0.610259 -0.755325 -0.346419
E  0.147027 -0.479448  0.558769  1.024810

In [14]:
df['W']

A   -0.116773
B   -0.993263
C    1.025984
D    2.154846
E    0.147027
Name: W, dtype: float64

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df[['W','Z']]

          W         Z
A -0.116773  1.996652
B -0.993263  0.000366
C  1.025984  0.649826
D  2.154846 -0.346419
E  0.147027  1.024810

In [37]:
df['new'] = df['W'] + df['X']
df

          W         X         Y         Z       new
A -0.116773  1.901755  0.238127  1.996652  1.784981
B -0.993263  0.196800 -1.136645  0.000366 -0.796464
C  1.025984 -0.156598 -0.031579  0.649826  0.869386
D  2.154846 -0.610259 -0.755325 -0.346419  1.544588
E  0.147027 -0.479448  0.558769  1.024810 -0.332421

In [39]:
df.drop('new', axis = 1, inplace=True)

In [40]:
df

          W         X         Y         Z
A -0.116773  1.901755  0.238127  1.996652
B -0.993263  0.196800 -1.136645  0.000366
C  1.025984 -0.156598 -0.031579  0.649826
D  2.154846 -0.610259 -0.755325 -0.346419
E  0.147027 -0.479448  0.558769  1.024810

In [44]:
df.loc['A','W']

-0.11677331646707445

In [45]:
df.loc[['A','B'], ['X', 'Y', 'Z']]

          X         Y         Z
A  1.901755  0.238127  1.996652
B  0.196800 -1.136645  0.000366

In [1]:
df.iloc[1:4,2:]

NameError: name 'df' is not defined