In [16]:
import numpy as np
import pandas as pd

In [3]:
#nìveis de indice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
#hier = hierarquia

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
hier_index = list(zip(outside,inside)) #zip pega duas listas como input e transofrma em uma tupla elemento a elemento

In [8]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [10]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [20]:
df = pd.DataFrame(np.random.randn(6,2),index = hier_index,columns = ['A','B'])

In [21]:
df

             A         B
G1 1 -0.034818  1.549874
   2 -0.175348 -0.542676
   3 -0.448567 -1.756036
G2 1  0.888828 -2.141892
   2 -0.485203 -1.360829
   3  0.222741  1.238385

In [24]:
df.index.names = ['Grupo','Número']

In [26]:
df

                     A         B
Grupo Número
G1    1      -0.034818  1.549874
      2      -0.175348 -0.542676
      3      -0.448567 -1.756036
G2    1       0.888828 -2.141892
      2      -0.485203 -1.360829
      3       0.222741  1.238385

In [28]:
df.xs(1,level='Número')

              A         B
Grupo
G1    -0.034818  1.549874
G2     0.888828 -2.141892